* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;

}

sup {
    color: red;
    font-weight: bold;
}

nav a {
    color: black;
    text-decoration: none;
}

.nav-navigation {

    font-size: 15px;
    padding-top: 20px;
    text-transform: uppercase;

}

.nav-navigation a {

    margin-right: 20px;
    font-size: 17px;
}

.nav-name {
    font-size: 40px;
    text-transform: capitalize;
    letter-spacing: 13px;

}



.nav-icon {
    padding-top: 20px;

}

.nav-icon a {
    margin-right: 17px;
    font-size: 20px;
}

.starter {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 10px;
    background-color: #201f1f;

}

.starter h3 {
    color: white;
}

button {
    padding: 10px;
    font-size: 15px;
    background-color: #201f1f;
    color: white;
    border: none;

}

.social-accounts a {
    padding: 12px;
    font-size: 20px;
    color: white;
}

.slideshow-container {
    max-width: 1400px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 120px;
    width: 100%;
    text-align: center;
}

.text h1 span,
.background-image h1 span {
    color: rgb(236, 149, 42);
}

.text h3 {
    font-size: 20px;
}

.text h1 {
    font-size: 45px;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.image-container {
    position: relative;

}

.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.image-container:hover .hover-image {
    opacity: 1;
}

.main-image {
    z-index: 1;
}

.latest-product {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.hover-image i {
    position: relative;
    display: block;
    bottom: 31rem;
    width: 30px;
    left: 20rem;
    padding: 5px;
    margin-bottom: 15px;
    background-color: #fff;
    font-size: 20px;
}

.main-image button {
    position: relative;
    bottom: 28rem;
    right: 19rem;
}

.hover-image button {
    position: relative;
    bottom: 8.4rem;
    width: 100%;
    font-size: 30px;
    background-color: #B59677;
}

.text-below h4,
.text-below p {
    text-align: center;
}

.text-below i {
    margin-left: 10px;
}

.circle {
    margin-left: 5.5rem;
}

.circle1 {
    margin-left: 4.6rem;
}

.cold-wear {
    display: flex;
    justify-content: space-around;
}

.cold-wear img {
    width: 100%;
    transition: transform .2s;
}

.cold-wear img:hover {
    transform: scale(1.5);
}

.text-upper {
    position: relative;
    bottom: 30rem;
    left: 3rem;
}

.text-upper2 {
    position: relative;
    bottom: 24rem;
    left: 3rem;
}

.text-upper3 {
    position: relative;
    bottom: 17rem;
    left: 3rem;
}

.text-upper4 {
    position: relative;
    bottom: 23rem;
    left: 3rem;
}

.text-upper h2,
.text-upper2 h2,
.text-upper3 h2,
.text-upper4 h2 {
    text-transform: uppercase;
    color: #717171;
}

.text-upper h3,
.text-upper2 h3,
.text-upper3 h3,
.text-upper4 h3 {
    color: #717171d7;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.loadmore button {
    padding: 15px;
    color: white;
    background-color: #B59677;
    margin: 50px 0px 70px 570px;
    width: 150px;
    border-radius: 5px;
}

.loadmore button:hover {
    background-color: #d07b25;

}

.background-image img {
    width: 100%;

}

.ending-text {
    color: white;
    position: relative;
    bottom: 20rem;
    text-align: center;
}

.background-image h1 {
    font-size: 50px;
}

.background-image h3 {
    font-size: 25px;
}

.background-image button,
.text button {
    background-color: transparent;
    border: 3px solid #fff;
    transition: 3s step-start;
}

.background-image button:hover,
.text button:hover {
    background-color: #d07b25;
    border: 3px solid #fff;
    border-radius: 5px;
}

.followInsta {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.followInsta img {
    width: 250px;
    transition: transform .2s;

}

.followInsta img:hover {
    transform: scale(1.5);

}

.insta {
    text-align: center;
    padding-bottom: 20px;
}

.ending-text2 {
    color: white;
    position: relative;
    bottom: 33rem;
    text-align: center;
    font-size: 20px;
}

.setting {
    margin-right: 150px;
    margin-left: 150px;
    padding: 30px 0px 30px 0px;
    background-color: rgba(188, 156, 114, 0.85);
}

.product {
    text-align: center;
    padding-bottom: 30px;
}

/* Footer */
/* Footer */
footer {
    background-color: #0b0b0b;
    
    display: flex;
}

footer div a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}

footer .nav a:hover {
    background-color: white;
    color: rgb(3, 3, 3);
    text-decoration: underline;
}
header nav a:hover{
    text-decoration: underline;
    color: rgb(38, 0, 255);
}