*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#0a0a0a,#717b89);
}
.calculator{
    border: 3px solid #717377;
    padding: 20px;
    background: transparent;
    border-radius: 16px;
    box-shadow: 0px 3px 15px rgba(113,115,119,0.5);
}
input{
    width: 320px;
   border: none;
   padding: 24px;
   margin: 10px;
   background: transparent;
   text-align: right;
   font-size: 40px;
   box-shadow: 0px 3px 15px rgba(248, 247, 247);
   cursor: pointer;
   color:white;
}
input::placeholder{
    color: white;
}
button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    font-size: 20px;
    color: white;
    border-radius: 50%;
    background: rgb(78, 78, 79);
    box-shadow: -8px -8px 15px rgba(253,253,253,0.2);
    cursor:pointer;
}
.equalbtn{
    background-color: #fb7c14;
}
.equalbtn:hover{
    background-color: #fb7c14c5;
}
.operator{
    color: #6dee0a;
    /* background-color: rgb(147, 150, 149); */
    font-size: 25px;
}
button:hover{
    color: black;
    background-color: rgba(255, 255, 255, 0.855);
}